<div class="admin-profile-cnt">

	<span class="din-admin">DINA UPPGIFTER</span>

	<div class="admin-profile-card">

		<span class="admin-info"><b>Användarnamn: </b> {{user.username}}</span>

	</div>

	<span class="admin-your-bookings">dina bokningar:</span>

	<div class="admin-booking-card">
		{{#each bookings}}
			<div class="admin-booking-frame">
				<span class="admin-profile-info"><b>Beställare:
					</b>{{user.username}}</span>
				<span class="admin-profile-info"><b>Typ av städning: </b>{{type}}</span>
				<span class="admin-profile-info"><b>Address: </b>{{address}}</span>
				<span class="admin-profile-info"><b>Ort: </b>{{county}}</span>
				<span class="admin-profile-info"><b>Postnummer: </b>{{zip}}</span>
				<span class="admin-profile-info"><b>Datum & Tid: </b>{{createStamp
						time
					}}</span>
			</div>

		{{/each}}
	</div>

</div>