<div class="users-cnt">
	<span class="info-span">din info</span>
	<div class="users-card">
		{{loginType}}
		{{#each employee}}
			<span>HEj</span>
			<span>{{username}}</span>
			<span>{{email}}</span>
			<span>{{address}}</span>
			<span>{{password}}</span>
		{{/each}}
	</div>
</div>