<div class="users-cnt">

	<span class="info-span">din info</span>

	<div class="users-card">

		<span class="profile-info"><b>Användarnamn:</b> {{user.username}}</span>
		<span class="profile-info"><b>Email:</b> {{user.email}}</span>
		<span class="profile-info"><b>Address:</b> {{user.address}}</span>

	</div>

	<span class="your-bookings">dina bokningar:</span>

	<div class="booking-card">
		{{#each booking}}
			<div class="booking-frame">
				<span class="profile-info"><b>Typ av städning: </b>{{type}}</span>
				<span class="profile-info"><b>Datum: </b>{{createStamp time}}</span>
				<span class="profile-info"><b>Städare: </b> {{cleaner.username}}</span>
			</div>

		{{/each}}
	</div>

</div>